<div fxLayout="row" fxFill="true" fxLayoutAlign="space-around center">
  <div fxLayout="row" fxLayoutAlign="center center">
    <a routerLink="/consumer">
      <button
        mat-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
      >
        <mat-icon>credit_score</mat-icon>
      </button>
    </a>
    <p style="margin-left: 20px;">Crédito Consumo</p>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <a routerLink="/mortgage">
      <button
        mat-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
      >
        <mat-icon>home</mat-icon>
      </button>
    </a>
    <p style="margin-left: 20px;">Crédito Hipotecario</p>
  </div>
</div>
